extends ../layout


block content

  #ep_files_accordion.accordion

    .accordion-group
      .accordion-heading
      #ep_files_collapse.accordion-body.collapse
        .accordion-inner
          include crawl_form

  include stats

  include scroller

  

