.row-fluid

  .span3.well#lasStats 
    p.center.lead LAS Summary
    .well.white
      .content


  .span3.well#sgyStats 
    p.center.lead SEGY Summary

  .span3.well#imgStats 
    p.center.lead IMG Summary

  .span3.well#shpStats 
    p.center.lead SHP Summary
