- filters = [] 
//- filters.push({ show: "Search All", value: "las_idx,shp_idx,sgy_idx,img_idx" })
- filters.push({ show: "LAS Files", value: "las_idx" }) 
- filters.push({ show: "ESRI Shapefiles", value: "shp_idx" })
- filters.push({ show: "SEGY Files", value: "sgy_idx" })
- filters.push({ show: "Imagery Files", value: "img_idx" })


.navbar.navbar-fixed-top
  .navbar-inner
    .container

      a.logo(href='/')
        img(src='images/lc_logo_orange_tiny.png')

      ul.nav

        li.divider-vertical

        li 
          a(href='/ep_files') E&P Files
        li
          a(href='/petra') Petra
        li
          a(href='/discovery') Discovery
        li
          a(href='/kingdom') Kingdom 

        li.divider-vertical

        li#spinner
          img(src='images/spinner.gif')
        
        a#crawlSetup.accordion-toggle(data-toggle='collapse', data-parent='#ep_files_accordion', href='#ep_files_collapse')
          .btn
            | Crawl Setup

      form#search.navbar-search.form-search.pull-right(action='/search', method='POST')
        .input-prepend.input-append
          span.add-on
            i.icon-filter
          select(name='idx').span2
            for f in filters
              option(value= f.value)= f.show
          input(name='query', type='search', placeholder='Search')
          span.add-on
            i.icon-search


