- searchFilters = [ { show: "LAS Files", value: "las_idx" }, { show: "ESRI Shapefiles", value: "shp_idx" }, { show: "SEGY Files", value: "sgy_idx" },{ show: "Imagery Files", value: "img_idx" }]


.navbar.navbar-fixed-top
  .navbar-inner
    .container

      a.logo(href='/')
        img(src='images/lc_logo_orange_tiny.png')

      ul.nav

        li.divider-vertical

        li 
          a(href='/ep_files') E&P Files
        li
          a(href='/petra') Petra
        li
          a(href='/discovery') Discovery
        li
          a(href='/kingdom') Kingdom 

        li.divider-vertical
        
        a#crawlSetup.accordion-toggle(data-toggle='collapse', data-parent='#ep_files_accordion', href='#ep_files_collapse')
          .btn
            | Crawl Setup

      form#search.navbar-search.form-search.pull-right(action='/search')
        .input-prepend.input-append
          span.add-on
            i.icon-filter
          select(name='searchFilter').span2
            for filt in searchFilters
              option(value= filt.value)= filt.show
          input(name='searchText', type='search', placeholder='Search')
          span.add-on
            i.icon-search


