.navbar.navbar-fixed-top
  .navbar-inner
    .container

      a.logo(href='/')
        img(src='images/lc_logo_orange_tiny.png')

      ul.nav

        li.divider-vertical

        - if (hasEPF)
          li 
            a(href='/epf') E&P Files

        - if (hasPET)
          li
            a(href='/pet') Petra

        - if (hasGGX) 
          li
            a(href='/ggx') Discovery

        - if (hasTKS)
          li
            a(href='/tks') Kingdom 

        li.divider-vertical

        li#clickForStats.hide
          .div
            a(href='/', class='btn btn-warning') Done! (click for stats)

        li.spinner#workSpinner.hide
          img(src='images/gray_boxes.gif')

        li.spinner#querySpinner.hide
          img(src='images/orange_boxes.gif')
        
      - if (typeof searchFilters !== "undefined")

        form#search.navbar-search.form-search.pull-right(action='/search', method='POST')
          .input-prepend.input-append
            span.add-on
              i.icon-filter
            select(name='idx').span2
              for f in searchFilters
                option(value= f.value)= f.show
            input(name='query', type='search', placeholder='Search')
            span.add-on
              i.icon-search


