.navbar.navbar-fixed-top
  .navbar-inner
    .container

      a.logo(href='/')
        img(src='images/lc_logo_orange_tiny.png')

      ul.nav

        li.divider-vertical

        li 
          a(href='/ep_files') E&P Files
        li
          a(href='/petra') Petra
        li
          a(href='/discovery') Discovery
        li
          a(href='/kingdom') Kingdom 

        li.divider-vertical

        li#clickForStats
          .div
            a(href='/', class='btn btn-warning') Done! (click for stats)

        li.spinner#workSpinner.hide
          img(src='images/gray_boxes.gif')

        li.spinner#querySpinner.hide
          img(src='images/orange_boxes.gif')
        

      form#search.navbar-search.form-search.pull-right(action='/search', method='POST')
        .input-prepend.input-append
          span.add-on
            i.icon-filter
          select(name='idx').span2
            for f in searchFilters
              option(value= f.value)= f.show
          input(name='query', type='search', placeholder='Search')
          span.add-on
            i.icon-search


