.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a(href='/').brand LogicalCat
      ul.nav

        li: a(href='las') las
        li: a(href='segy') segy
        li: a(href='imagery') imagery
        li: a(href='shapefile') shapefile

        li.divider-vertical

        li: a(href='petra') petra
        li: a(href='discovery') discovery
        li: a(href='kingdom') kingdom 


