
ul.nav.nav-pills.pull-left
  li.dropdown
    a#drop4.dropdown-toggle(data-toggle='dropdown', href='#')
      | Previous Crawls
      b.caret
    ul#menu1.dropdown-menu
      li
        a(href='#') Previous One
      li
        a(href='#') Previous Two 
      li
        a(href='#') Something else here
      li
        a(href="#') just a fake link
      li
        a(href='#') Separated link

form(action='/las', method='post', class='lascrawl')
  input(type='text', name='label', 'placeholder'='unlabeled')
  input(type='text', name='fw_root', 'placeholder'='start path')
  input(type='checkbox', name="ziplas", checked=(true===false ? "checked" : undefined))
  'ziplas'
  
  input(type='submit', value='Run Crawl')
