script 
  jQuery(function($){
    var socket = io.connect('http://localhost');
    socket.on('lasdoc', function(data){
      $('#laslist').prepend('<li>'+data.fullpath+'</li>');
    });
  });

p (include a one-line index summary)

#laslist


//I will be a paginated list of LAS files stored in elasticsearch
//however, upon running a crawl, I'll wiped clean and show current progress
