#navPadding{
  height:60px;
}


.logo{
  float: left;
  padding-top: 3px;
  margin-right: 40px;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.white{
  background: white;
}

.rather-long{
  width:500px;
}

.bumper{
  margin-bottom: 3px;
}


label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}


.mono{
  font-family: monospace;
}

.small-orange{
  font-size: 12px;
  color: #eb8a33;
  font-style: oblique;
}

.modal-title{
  text-align: center;
  color: #eb8a33;
}

.spinner{
  margin-left: 10px;
  margin-top: 3px;
}

#epf_work_box{
  overflow: auto
}

/** colors for doctypes **/

.progress-box{
  float: left;
  width:40px;
  height:40px;
  margin: 2px;
}
.las{ color: #1f77b4; }
.lasbg{
  background-color: #aec7e8;
}

.shp{ color: #ff7f0e; }
.shpbg{ background: #ffbb78; }

.sgy{ color: #2ca02c; }
.sgybg{ background: #98df8a; }


.ras{ color: #d62728; }
.rasbg{ background: #ff9896; }



.total{
  background: #fbfbfb;
}





.labelSummary{
  background-color: #fbfbfb;
  font-size: 16px;
  font-weight: bold;
}

#searchSummaryBox{
  padding: 5px 0px 0px 0px;
  background: #fbfbfb;
}

#searchSummaryBox .lead{
  margin-left: 20px;
  margin-bottom: 0px;
}

#pager{
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}

#csv{
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#epf_crawl_form hr{
  margin: 0px 50px 2px 50px;
}


#statsTable{
  font-size: 85%;
}




#previousCrawlList{
  
  float:right;
}


/*
.stats{
  font-size: 90%;
  padding: 10px 10px 10px 10px;
}
.stats .globalStats .well{
  background: #ffecd1;
  background: #fff6e8;

}
*/






/*
.doc{
  padding: 0px 0px 0px 0px;
  float: left;
  width: 46%;
  margin: 5px 1% 5px 1%;
}
*/
