body{
  padding-top: 70px;
}

#search_filter_button {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  padding-left: 2px;
  padding-right: 2px;
}

#logo{
  padding: 3px 0px 3px 0px;
  margin-right: 50px;
}

.white{
  background: white;
}
