extends ../layout

block content

  #modalDocDetail.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal')
      p.lead.modal-title#modalDocTitle

    .modal-body

    .modal-footer
      button.btn(data-dismiss='modal') Close


  - if (total === 0)
    include noResults

  - else


    .row-fluid#results
      table.table.table-condensed.table-bordered.table-hover

        - var t = docTemplates.template(docs[0].doctype).tableFields
        for f in t.showFields
          th= f

        for doc in docs
          tr(class=doc.doctype, id=doc.guid)
            for f in t.realFields
              td= doc[f]




    .well#searchSummaryBox
      include summaryAndCSV
