extends ../layout

block content
  script(src="/javascript/search.js");
  script
    // make the last selected index and query string 'stick'
    var selected = $('#searchFilterList li a[idx="'+'#{idx}'+'"]');
    var v = selected.attr('value');
    var i = selected.attr('idx');
    var btn = $("#searchFilterInput:first-child");
    btn.attr('value', v);
    btn.attr('idx', i);
    $('form#search #idx').attr('value', i); // the only one that counts!
    $('#searchText').val('#{query}');

  include modal


  - if (total === 0)
    include no_results

  - else


    .row.wider
      .col-md-7
        include results

      .col-md-5
        include map

