extends ../layout

block content

  #modalDocDetail.modal.hide.fade
    .modal-header
      button.close(type='button', data-dismiss='modal')
      p.lead.modal-title#modalDocTitle

    .modal-body

    .modal-footer
      button.btn(data-dismiss='modal') Close


  - if (total === 0)
    include noResults

  - else

    - var type = docs[0].doctype

    - if (type === 'las')
      include lasTable

    - if (type === 'sgy')
      include sgyTable


    .well#summaryBox
      include summaryAndCSV
