extends ../layout

block content
  script
    var selected = $('#searchFilterList li a[idx="'+'#{idx}'+'"]');
    var v = selected.attr('value');
    var i = selected.attr('idx');
    var btn = $("#searchFilterInput:first-child");
    btn.attr('value', v);
    btn.attr('idx', i);
    $('form#search #idx').attr('value', i); // the only one that counts!
    $('#searchText').val('#{query}');

  include modal


  - if (total === 0)
    include no_results

  - else

    .row.wider

      include results

      include map
      

  //- 1. init #map, 2. define L.Map, 3. run mapPoints
  script
    var map;
    var mappedItems = {}; //keep track of objects for highlighting
    var markers = new L.FeatureGroup();


    // keep quiet if there are no hits (like when no_results is called)
    if (#{total} > 0) {
      initMap();
    }

    function initMap(){
      map = new L.Map('map');
      var theme = 'http://{s}.tile.cloudmade.com/ac00b8ed30954bc3a49fb59af4d62820/997/256/{z}/{x}/{y}.png';

      var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>, Imagery &copy <a href="http://cloudmade.com">CloudMade</a>';

      var cloudOpts = { maxzoom: 18, attribution: attribution }
      var tiles = new L.TileLayer(theme, cloudOpts)

      map.addLayer(tiles);
      //var markers = new L.markerClusterGroup();
      var locsPerDoc = !{JSON.stringify(locsPerDoc)}

      //only try to map if locations are present
      var mappable = false;
      for (var key in locsPerDoc) {
        if (locsPerDoc[key].locations.length > 0) {
          mappable = true;
        }
      }

      if (mappable) {
        mapResults(locsPerDoc);
      } else {
        hideMap();
      }

    }
