#modalDocDetail.modal.container.fade(tabindex='-1', style='display: none;')

  .modal-header
    h4.modal-title#title

  .modal-body
    .row
      .col-md-6
        #l_panel
        #list
        #singles
      .col-md-6
        #r_panel
    .row
      #base

  .modal-footer
    button.btn.btn-default(data-dismiss='modal') Close
