.well#searchSummaryBox
  .col-md-6
    #pager
  .col-md-4
    - var x = (total < size) ? total : size
      p.lead#summary 1 &#10511; #{x} of #{total}

  .col-md-2.pull-right
    form#csv(action='/csvExport', method='post')
      button.btn.btn-default#csv Export CSV

script
  var numPages = Math.ceil(#{total}/#{size});
  $('#pager').bootpag({
    total: numPages,
    page: 1,
    maxVisible: 5,
    leaps:false
  });
