extends ../layout

block content

  .well
    p stats about indexes? contact info? module version info

  .well
    p some sort of helpful blurb or pictures

  .well
    p list of indexes with control functions for each

    


