.row-fluid

  .span3.well.stats#lasStats 
    p.center.lead LAS Summary
    .globalStats
    .labelStats

  .span3.well.stats#sgyStats 
    p.center.lead SEGY Summary
    .globalStats
    .labelStats

  .span3.well.stats#rasStats 
    p.center.lead RAS Summary
    .globalStats
    .labelStats

  .span3.well.stats#shpStats 
    p.center.lead SHP Summary
    .globalStats
    .labelStats
