.row-fluid#statsBox.hide

  p.lead E&P File Stats

  table#statsTable.table.table-condensed.table-bordered
    th Type
    th Label
    th Count
    th Total Size
    th Oldest Modified
    th Latest Modified
    th Duplicates

