extend ../../views/layout

block content
  p hOME JADE THING!!!
  p hOME JADE THING!!!
  p hOME JADE THING!!!
  p hOME JADE THING!!!
  p hOME JADE THING!!!
  p hOME JADE THING!!!
  p hOME JADE THING!!!

